.title {
  text-align: center;
  font-size: xx-large;
}

.main {
  text-align: center;
}
.main img {
  width: 300px;
  vertical-align: middle;
}
.control {
  text-align: center;
}

.control button {
  height: 1.3em;
  font-size: 24px;
}

.buttonA {
  width:77px;
}

.buttonB {
  width: 125px;
}
.thumbnails{
  width:550px;
  margin: 0 auto;
  text-align: center;
}
.thumbnails img {
  opacity: 0.5;
  width: 50px;
}
.thumbnails .selected{
  opacity: 1.0;
}
